html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    display: flex;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.container {
    max-width: 1170px !important;
    margin: auto !important;
}

*:focus, header a:focus img {
    outline: none !important;
    box-shadow: 0 0 3pt 2pt orange !important;
}

h2, h3, h4 {
    margin-left: 0 !important;
    font-weight: 500 !important;
    line-height: 1.1 !important;
    color: #337ab7 !important;
    margin-bottom: 0.7em !important;
}

h4 {
    font-size: 1.1em !important;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: normal;
}

.row {
    margin-bottom: 1em;
}

button {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover, .btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary[disabled] {
    color: #fff;
    background-color: #868e9b;
    border-color: #204d74;
}

.only-screenreader {
    position: absolute;
    left: -9999px;
}

[v-cloak] {
    display: none
}