body {
    margin: 1em;
}

header * {
    margin-right: 1em;
    display: inline-block;
}

h2 {
    font-size: 1.7em !important;
    margin-top: 1em;
}

h3 {
    font-size: 1.4em !important;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.wrapper {
    max-width: 1200px;
}

.only-screenreader {
    position: absolute;
    left: -9999px;
}